.reveal section img {
    border: 0;
    box-shadow: none;
}
.font-smaller {
    font-size: smaller;
}
.font-larger {
    font-size: larger;
}

.backgrounds {
    opacity: 0.2;
}

.sources {
    horiz-align: left;
    vertical-align: bottom;
    font-size: small;
}